fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
redis
pydantic
pydantic-settings
markdown
language-tool-python
openai
python-multipart
beautifulsoup4
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
slowapi
